<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Mahasiswa</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <a href="/">Daftar Mahasiswa</a> | <a href="/tambah_mhs">Tambah Mahasiswa</a>
    <hr>
    <h1>Daftar Mahasiswa</h1>
    <% if (mhs.length > 0) { %>
    <ol>
        <% for (let mahasiswa of mhs) { %>
            <li><%= mahasiswa.nama %></li>
        <% } %>
    </ol>
    <% } else { %>
        <h1>Tidak ada mahasiswa!</h1>
    <% } %>
</body>
</html>