<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <a href="/">Daftar Mahasiswa</a> | <a href="/tambah_mhs">Tambah Mahasiswa</a>
    <hr>
    <h1>Tambah Mahasiswa</h1>
    <form action="/tambah_mhs" method="post">
        <label for="nama">Nama</label>
        <input type="text" name="nama" id="nama">

        <input type="submit" value="Kirim">
    </form>
</body>
</html>